/out/
/.idea/
/AL4T_2022.iml
.DS_Store
/.vscode

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
/bin/
.settings/org.eclipse.buildship.core.prefs
basics/.classpath
basics/.settings/org.eclipse.jdt.core.prefs
carfactory/.settings/org.eclipse.buildship.core.prefs
chess/.settings/org.eclipse.buildship.core.prefs
designpatterns/.settings/org.eclipse.buildship.core.prefs
exercises/.settings/org.eclipse.buildship.core.prefs
exercises/hangman/.settings/org.eclipse.buildship.core.prefs
exercises/hearts/.settings/org.eclipse.buildship.core.prefs
exercises/hearts/bin/main/be/ecam/Controller/Main.class
exercises/hearts/bin/main/be/ecam/Model/Suit.class
mario/.settings/org.eclipse.buildship.core.prefs
solid/.settings/org.eclipse.buildship.core.prefs
traffic/.settings/org.eclipse.buildship.core.prefs
/carfactory/bin
/chess/bin
/designpatterns/bin
/exercises/hangman/bin
/mario/bin
/solid/bin
/traffic/bin
.project
*.prefs
carfactory/.classpath
chess/.classpath
designpatterns/.classpath
exercises/hangman/.classpath
exercises/hearts/.classpath
mario/.classpath
solid/.classpath
testing/.classpath
traffic/.classpath
*.class
testing/bin/test/addition.csv
basics/bin/build.gradle
exercises/hearts/bin/build.gradle
testing/bin/build.gradle.kts
testing/bin/src/test/resources/addition.csv
